<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.atong.leek.spring.test.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="cn.atong.leek.spring.test.bean.UserService">
        <property name="uId" value="10002"/>
        <property name="userDao" ref="userDao"/>
        <property name="userDaoFactoryBean" ref="proxyUserDao"/>
    </bean>

    <bean class="cn.atong.leek.spring.test.common.MyBeanFactoryPostProcessor"/>
    <bean class="cn.atong.leek.spring.test.common.MyBeanPostProcessor"/>

    <!--测试单例bean/原型bean-->
    <bean id="userScopeService" class="cn.atong.leek.spring.test.bean.UserScopeService" scope="prototype">
        <property name="name" value="atong"/>
    </bean>

    <!--测试FactoryBean-->
    <bean id="proxyUserDao" class="cn.atong.leek.spring.test.bean.ProxyBeanFactory"/>

</beans>